			#shape{
				width:200px;
				height:200px;
				background-color:yellow;
				display: none;
				position: relative;
			}
			
			p{
				font-size:20px;
			}
			
			#time{
				font-weight:bold;
			}